.mainmenubtn {
  background-color: rgb(102, 255, 0);
  color: rgba(122, 108, 27, 0.774);
  border: 1px solid black;
  cursor: pointer;

}

.mainmenubtn:hover {
  background-color: rgb(70, 238, 18);
  height:200px;
  width:200px;
  min-width:900px ;
  
  }
  
.dropdown {
  position: relative;
  display: inline-table;
  left:10%;
}
.dropdown-child{
  display: none;
  width: 3000px;
  margin-left: -3px;
}
.dropdown-child1{
  display: none;
  background-color: black;
  width: 300px;
}
.dropdown-child2{
  display: none;
  background-color: black;
  width: 300px;
}
.dropdown-child3{
  display: none;
  background-color: black;
  width: 300px;
}
.dropdown-child button {
  color: white;
  padding: 20px;
  text-decoration: none;
  display: block;
}
.dropdown-child button:hover {
  color: rgb(108, 133, 63);
}
.dropdown:hover .dropdown-child {
  display: block;
}
.dropdown:hover .mainmenubtn {
  min-width: 900px;
}
.btn-secondary
{
  background-color: black;
  width: 300px;
  color: white;
}
.secondarybtn1:hover .dropdown-child1{
  display:block;
}
.secondarybtn1:hover .dropdown-child1 {
  min-width: 300px;
}
.secondarybtn2:hover .dropdown-child2{
  display:block;
}
.secondarybtn2:hover .dropdown-child2 {
  min-width: 300px;
}
.secondarybtn3:hover .dropdown-child3
{
  display:block;
}
.secondarybtn3:hover .dropdown-child3 {
  min-width: 300px;
}
