{% load static %}
<html>
    <head>
        <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
        <style type="text/css">
            <!--
            span.cls_002{font-family:Times,serif;font-size:18.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
            div.cls_002{font-family:Times,serif;font-size:18.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
            span.cls_004{font-family:Times,serif;font-size:16.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
            div.cls_004{font-family:Times,serif;font-size:16.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
            span.cls_006{font-family:Times,serif;font-size:14.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
            div.cls_006{font-family:Times,serif;font-size:14.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
            span.cls_003{font-family:Times,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
            div.cls_003{font-family:Times,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
            span.cls_008{font-family:Times,serif;font-size:14.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
            div.cls_008{font-family:Times,serif;font-size:14.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
            span.cls_009{font-family:Arial,serif;font-size:18.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
            div.cls_009{font-family:Arial,serif;font-size:18.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
            span.cls_010{font-family:Times,serif;font-size:16.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
            div.cls_010{font-family:Times,serif;font-size:16.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
            span.cls_007{font-family:Times,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
            div.cls_007{font-family:Times,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
            span.cls_011{font-family:Times,serif;font-size:11.9px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
            div.cls_011{font-family:Times,serif;font-size:11.9px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
            span.cls_012{font-family:Times,serif;font-size:14.1px;color:rgb(31,32,35);font-weight:normal;font-style:normal;text-decoration: none}
            div.cls_012{font-family:Times,serif;font-size:14.1px;color:rgb(31,32,35);font-weight:normal;font-style:normal;text-decoration: none}
            -->
        </style>
        <script type="text/javascript" src="226b986a-8e57-11ec-a980-0cc47a792c0a_id_226b986a-8e57-11ec-a980-0cc47a792c0a_files/wz_jsgraphics.js"></script>
    </head>
    <body>
        <div>
           <a href="{% url 'search'%}">
             <img alt="Back" src="{% static 'app/back.png' %}" width=30" height="30">
           </a>
        </div>
        <div style="position:absolute;left:50%;margin-left:-297px;top:0px;width:595px;height:841px;border-style:outset;overflow:hidden">
        <div style="position:absolute;left:0px;top:0px">
        <img src="{% static 'app/226b986a-8e57-11ec-a980-0cc47a792c0a_id_226b986a-8e57-11ec-a980-0cc47a792c0a_files/background01.jpg' %}" width=595 height=841></div>
        <div style="position:absolute;left:125.90px;top:40.12px" class="cls_002"><span class="cls_002">Розділ 1. Опис об’єкта інформаційної безпеки</span></div>
        <div style="position:absolute;left:180.86px;top:93.78px" class="cls_004"><span class="cls_004">1.1 Місце розташування організації.</span></div>
        <div style="position:absolute;left:70.82px;top:138.78px" class="cls_006"><span class="cls_006">Фармацевтична компанія «ANDRO-Medª продає і доставляє лікарства преміум</span></div>
        <div style="position:absolute;left:70.82px;top:162.78px" class="cls_006"><span class="cls_006">якості.</span></div>
        <div style="position:absolute;left:207.41px;top:474.71px" class="cls_006"><span class="cls_006">рис.1.1  Схема розміщення об’єкту</span></div>
        <div style="position:absolute;left:70.82px;top:506.87px" class="cls_006"><span class="cls_006">Компанія знаходиться за адресою  вулиця Стрийська, 20, Сокільники, Львівська</span></div>
        <div style="position:absolute;left:70.82px;top:531.11px" class="cls_006"><span class="cls_006">обл. (рис 1.1.). поблизу знаходиться Стрийська магістраль з  якої є з’їзд до</span></div>
        <div style="position:absolute;left:70.82px;top:555.26px" class="cls_006"><span class="cls_006">компанії також тут курсують громадський транспорт найближча зупинка біля</span></div>
        <div style="position:absolute;left:70.82px;top:579.26px" class="cls_006"><span class="cls_006">з’їзду. Перед входом в приміщення є парковальні зони .</span></div>
        <div style="position:absolute;left:70.82px;top:611.54px" class="cls_006"><span class="cls_006">Найближчі сусіди компанії є такі підприємства як “Limelight Networks Ukraine” ,</span></div>
        <div style="position:absolute;left:70.82px;top:635.54px" class="cls_006"><span class="cls_006">“СЕРВУС” та житлові будинки.</span></div>
        </div>
        <div style="position:absolute;left:50%;margin-left:-297px;top:851px;width:595px;height:841px;border-style:outset;overflow:hidden">
        <div style="position:absolute;left:0px;top:0px">
        <img src="{% static 'app/226b986a-8e57-11ec-a980-0cc47a792c0a_id_226b986a-8e57-11ec-a980-0cc47a792c0a_files/background02.jpg' %}" width=595 height=841></div>
        <div style="position:absolute;left:233.57px;top:40.48px" class="cls_004"><span class="cls_004">1.2 Опис приміщення</span></div>
        <div style="position:absolute;left:235.01px;top:374.13px" class="cls_006"><span class="cls_006">Рис.1.2 План приміщення</span></div>
        <div style="position:absolute;left:70.82px;top:399.59px" class="cls_006"><span class="cls_006">Компанія поділена на дві зони, що налічує зону складських приміщень та</span></div>
        <div style="position:absolute;left:70.82px;top:419.63px" class="cls_006"><span class="cls_006">робочу зону. В Складі 1 проводиться прийом розвантажування та ідентифікація</span></div>
        <div style="position:absolute;left:70.82px;top:439.79px" class="cls_006"><span class="cls_006">товару для подальшого зберігання також тут розміщенні стелажі для ліків які не</span></div>
        <div style="position:absolute;left:70.82px;top:459.95px" class="cls_006"><span class="cls_006">потребують низьких температурних умов зберігання. В складі 2 розміщена</span></div>
        <div style="position:absolute;left:70.82px;top:479.99px" class="cls_006"><span class="cls_006">холодильна шафа для зберігання лікарських засобів  при при низьких</span></div>
        <div style="position:absolute;left:70.82px;top:500.15px" class="cls_006"><span class="cls_006">температурних умовах зберігання.</span></div>
        <div style="position:absolute;left:70.82px;top:520.31px" class="cls_006"><span class="cls_006">Робоча зона поділена на три кімнати. В приймальній, знаходиться продавець-</span></div>
        <div style="position:absolute;left:70.82px;top:540.35px" class="cls_006"><span class="cls_006">консультант, який видає заброньовані або потрібні лікарства а робоче місце</span></div>
        <div style="position:absolute;left:70.82px;top:560.54px" class="cls_006"><span class="cls_006">облаштоване ПК. Тут також знаходить диван для комфорту покупців. В</span></div>
        <div style="position:absolute;left:70.82px;top:580.70px" class="cls_006"><span class="cls_006">кабінеті знаходяться 3 робочі місця з трьома ПК для системного адміністратора,</span></div>
        <div style="position:absolute;left:70.82px;top:600.74px" class="cls_006"><span class="cls_006">менеджер, працівник складу. В іншому кабінеті працюють бухгалтер та</span></div>
        <div style="position:absolute;left:70.82px;top:620.90px" class="cls_006"><span class="cls_006">директор. Також тут розміщений принтер та 2 ПК.</span></div>
        </div>
        <div style="position:absolute;left:50%;margin-left:-297px;top:1702px;width:595px;height:841px;border-style:outset;overflow:hidden">
        <div style="position:absolute;left:0px;top:0px">
        <img src="{% static 'app/226b986a-8e57-11ec-a980-0cc47a792c0a_id_226b986a-8e57-11ec-a980-0cc47a792c0a_files/background03.jpg' %}" width=595 height=841></div>
        <div style="position:absolute;left:94.82px;top:40.48px" class="cls_004"><span class="cls_004">1.3   Системи життєзабезпечення та інструментарію компанії</span></div>
        <div style="position:absolute;left:70.82px;top:109.62px" class="cls_003"><span class="cls_003">1.3.1 Опис та  рисунок електропостачання приміщень.</span></div>
        <div style="position:absolute;left:70.82px;top:143.70px" class="cls_006"><span class="cls_006">Електричний струм приміщення отримують від електричного стовпа по кабелю,</span></div>
        <div style="position:absolute;left:70.82px;top:163.74px" class="cls_006"><span class="cls_006">який розміщений у повітрі, та  з’єднаний з   щитком. Щиток знаходиться в</span></div>
        <div style="position:absolute;left:70.82px;top:183.90px" class="cls_006"><span class="cls_006">Складі 1. Кабель. Зі щитка струм розподілений на 4 доріжки .</span></div>
        <div style="position:absolute;left:246.05px;top:498.23px" class="cls_006"><span class="cls_006">рис 1.3.1  Кабелі розеток</span></div>
        <div style="position:absolute;left:70.82px;top:530.51px" class="cls_006"><span class="cls_006">По кабелях  що прокладені у  стінах  від електричного щитка  прямує</span></div>
        <div style="position:absolute;left:70.82px;top:554.66px" class="cls_006"><span class="cls_006">електричний струм до розеток. Чотири розетки розміщені в кабінеті 1,</span></div>
        <div style="position:absolute;left:70.82px;top:578.90px" class="cls_006"><span class="cls_006">три в кабінеті 2 та 1 в приймальній .  Які в подальшому будуть</span></div>
        <div style="position:absolute;left:70.82px;top:603.02px" class="cls_006"><span class="cls_006">використовуватись для підключення різних пристроїв. Холодильна</span></div>
        <div style="position:absolute;left:70.82px;top:627.02px" class="cls_006"><span class="cls_006">шафа підключена окремою віткою напряму до щитка.</span></div>
        </div>
        <div style="position:absolute;left:50%;margin-left:-297px;top:2553px;width:595px;height:841px;border-style:outset;overflow:hidden">
        <div style="position:absolute;left:0px;top:0px">
        <img src="{% static 'app/226b986a-8e57-11ec-a980-0cc47a792c0a_id_226b986a-8e57-11ec-a980-0cc47a792c0a_files/background04.jpg' %}" width=595 height=841></div>
        <div style="position:absolute;left:219.89px;top:304.77px" class="cls_006"><span class="cls_006">рис 1.3.2 Кабелі освітлення</span></div>
        <div style="position:absolute;left:70.82px;top:337.05px" class="cls_006"><span class="cls_006">По кабелям що розміщені у стіні та відгалужуються по стелі тече струм</span></div>
        <div style="position:absolute;left:70.82px;top:361.05px" class="cls_006"><span class="cls_006">до 7 світильників.</span></div>
        <div style="position:absolute;left:177.26px;top:661.70px" class="cls_006"><span class="cls_006">рис1.3.3 Кабелі електронних обігрівачів</span></div>
        <div style="position:absolute;left:70.82px;top:693.98px" class="cls_006"><span class="cls_006">Кабелі від щитка прокладені  в низу стін та під дверним</span></div>
        <div style="position:absolute;left:70.82px;top:718.00px" class="cls_006"><span class="cls_006">прорізами(позначених жовтим кольором) напряму до трьох обігрівачів</span></div>
        </div>
        <div style="position:absolute;left:50%;margin-left:-297px;top:3404px;width:595px;height:841px;border-style:outset;overflow:hidden">
        <div style="position:absolute;left:0px;top:0px">
        <img src="{% static 'app/226b986a-8e57-11ec-a980-0cc47a792c0a_id_226b986a-8e57-11ec-a980-0cc47a792c0a_files/background05.jpg' %}" width=595 height=841></div>
        <div style="position:absolute;left:70.82px;top:69.06px" class="cls_008"><span class="cls_008">1.3.4 Опис та  рисунок датчиків диму та вентиляції приміщення.</span></div>
        <div style="position:absolute;left:70.82px;top:372.93px" class="cls_006"><span class="cls_006">В приміщеннях знаходяться 6 датчиків диму що підключені до електро щитка.</span></div>
        <div style="position:absolute;left:70.82px;top:397.07px" class="cls_006"><span class="cls_006">Кабель проходить по стінах і розгалужується по стелі. В приміщенні</span></div>
        <div style="position:absolute;left:70.82px;top:421.19px" class="cls_006"><span class="cls_006">здійснюється пасивна вентиляція реалізована 3 коробами.</span></div>
        </div>
        <div style="position:absolute;left:50%;margin-left:-297px;top:4255px;width:595px;height:841px;border-style:outset;overflow:hidden">
        <div style="position:absolute;left:0px;top:0px">
        <img src="{% static 'app/226b986a-8e57-11ec-a980-0cc47a792c0a_id_226b986a-8e57-11ec-a980-0cc47a792c0a_files/background06.jpg' %}" width=595 height=841></div>
        <div style="position:absolute;left:156.26px;top:40.36px" class="cls_002"><span class="cls_002">1.4</span><span class="cls_009"> </span><span class="cls_004"> Опис та рисунок інтернет постачання</span></div>
        <div style="position:absolute;left:70.82px;top:306.69px" class="cls_006"><span class="cls_006">Кабель інтернету підключений з вулиці, який проходить по стіні до роутера.</span></div>
        <div style="position:absolute;left:70.82px;top:324.09px" class="cls_006"><span class="cls_006">Роутер створює локальну мережу компанії, також він підключений до сервера</span></div>
        <div style="position:absolute;left:70.82px;top:337.41px" class="cls_006"><span class="cls_006">та роздає інтернет комп’ютерам.</span></div>
        <div style="position:absolute;left:70.82px;top:381.09px" class="cls_006"><span class="cls_006">На рисунку зображено, як оптоволоконний кабель проходить до роутера</span></div>
        <div style="position:absolute;left:70.82px;top:394.55px" class="cls_006"><span class="cls_006">(жовтий колір) до сервера (коричневий колір)</span></div>
        <div style="position:absolute;left:70.82px;top:451.43px" class="cls_010"><span class="cls_010">1.5  Опис Інформаційної системи</span></div>
        <div style="position:absolute;left:70.82px;top:488.27px" class="cls_006"><span class="cls_006">Підприємство використовує такі види інструментів:</span></div>
        <div style="position:absolute;left:70.82px;top:505.55px" class="cls_006"><span class="cls_006">6 комп’ютерів «Acerª.</span></div>
        <div style="position:absolute;left:70.82px;top:522.95px" class="cls_006"><span class="cls_006">Програмне забезпечення для 5 ПК мають встановлені ОС Windows 10, Microsoft</span></div>
        <div style="position:absolute;left:70.82px;top:540.35px" class="cls_006"><span class="cls_006">Office</span></div>
        <div style="position:absolute;left:70.82px;top:557.78px" class="cls_006"><span class="cls_006">Програмне забезпечення для 1 ПК має встановлене OC Ubuntu</span></div>
        <div style="position:absolute;left:70.82px;top:575.18px" class="cls_006"><span class="cls_006">Роутер </span><span class="cls_008">«</span><span class="cls_006">Xiaomi</span><span class="cls_008">ª.</span></div>
        <div style="position:absolute;left:70.82px;top:592.46px" class="cls_006"><span class="cls_006">Принтер </span><span class="cls_008">«</span><span class="cls_006">HP</span><span class="cls_008"> </span><span class="cls_006">max</span><span class="cls_008">ª.</span></div>
        <div style="position:absolute;left:70.82px;top:609.86px" class="cls_006"><span class="cls_006">Сервер </span><span class="cls_008">«</span><span class="cls_006">HP</span><span class="cls_008"> </span><span class="cls_006">APOLLO</span><span class="cls_008">ª. </span><span class="cls_006">Установлене</span><span class="cls_008"> </span><span class="cls_006">ПЗ</span><span class="cls_008"> </span><span class="cls_006">ОС Linux, MySQL</span></div>
        <div style="position:absolute;left:70.82px;top:627.26px" class="cls_006"><span class="cls_006">Електрообігрівачі </span><span class="cls_008">«</span><span class="cls_006">GRUNHE</span><span class="cls_008">ª.</span></div>
        <div style="position:absolute;left:70.82px;top:644.66px" class="cls_006"><span class="cls_006">Холодильна шафа </span><span class="cls_008">«</span><span class="cls_006">Капрі</span><span class="cls_008">ª.</span></div>
        <div style="position:absolute;left:70.82px;top:679.34px" class="cls_006"><span class="cls_006">На сервері зберігаються інформація товару, договори компанії,</span></div>
        <div style="position:absolute;left:70.82px;top:696.74px" class="cls_006"><span class="cls_006">звітність, дані працівників та клієнтів.</span></div>
        <div style="position:absolute;left:70.82px;top:746.32px" class="cls_008"><span class="cls_008">В Кабінеті 1</span><span class="cls_006">:</span></div>
        </div>
        <div style="position:absolute;left:50%;margin-left:-297px;top:5106px;width:595px;height:841px;border-style:outset;overflow:hidden">
        <div style="position:absolute;left:0px;top:0px">
        <img src="{% static 'app/226b986a-8e57-11ec-a980-0cc47a792c0a_id_226b986a-8e57-11ec-a980-0cc47a792c0a_files/background07.jpg' %}" width=595 height=841></div>
        <div style="position:absolute;left:70.82px;top:40.24px" class="cls_006"><span class="cls_006">За один комп’ютер відповідає системний адміністратор. З нього він</span></div>
        <div style="position:absolute;left:70.82px;top:64.26px" class="cls_006"><span class="cls_006">має доступ до програмного забезпечення серверу.</span></div>
        <div style="position:absolute;left:70.82px;top:96.54px" class="cls_006"><span class="cls_006">За другий комп’ютер відповідає менеджер. Має доступ до сайту та</span></div>
        <div style="position:absolute;left:70.82px;top:120.66px" class="cls_006"><span class="cls_006">його редагування.</span></div>
        <div style="position:absolute;left:70.82px;top:152.82px" class="cls_006"><span class="cls_006">За третій комп’ютер відповідає працівник складу. З нього він має</span></div>
        <div style="position:absolute;left:70.82px;top:177.06px" class="cls_006"><span class="cls_006">доступ до програмного забезпечення серверу.</span></div>
        <div style="position:absolute;left:70.82px;top:233.25px" class="cls_008"><span class="cls_008">В кабінеті 2</span><span class="cls_006">:</span></div>
        <div style="position:absolute;left:70.82px;top:265.53px" class="cls_006"><span class="cls_006">За комп’ютер бухгалтера відповідає бухгалтер. З нього він має повний</span></div>
        <div style="position:absolute;left:70.82px;top:289.53px" class="cls_006"><span class="cls_006">доступ до таблиць програми «1Сª.</span></div>
        <div style="position:absolute;left:70.82px;top:321.81px" class="cls_006"><span class="cls_006">За комп’ютер у директора відповідає директор. Він має доступ до</span></div>
        <div style="position:absolute;left:70.82px;top:345.93px" class="cls_006"><span class="cls_006">таблиць «1Сª, а також частковий доступ до серверу. (персональні дані</span></div>
        <div style="position:absolute;left:70.82px;top:370.05px" class="cls_006"><span class="cls_006">клієнтів, файли статистики)</span></div>
        <div style="position:absolute;left:70.82px;top:426.23px" class="cls_008"><span class="cls_008">Приймальня</span><span class="cls_006">:</span></div>
        <div style="position:absolute;left:70.82px;top:458.51px" class="cls_006"><span class="cls_006">За комп’ютер в приймальній відповідає адміністратор . Він має</span></div>
        <div style="position:absolute;left:70.82px;top:482.75px" class="cls_006"><span class="cls_006">частковий доступ до таблиць програми «1Сª (доступ до таблиць з</span></div>
        <div style="position:absolute;left:70.82px;top:506.75px" class="cls_006"><span class="cls_006">проданою кількістю товару та наявності товару).</span></div>
        <div style="position:absolute;left:70.82px;top:539.03px" class="cls_006"><span class="cls_006">Принтер використовується для роздруку чеків клієнтам, які замовили</span></div>
        <div style="position:absolute;left:70.82px;top:563.18px" class="cls_006"><span class="cls_006">ліки в інтернет-магазині та для надання копій укладених договорів</span></div>
        <div style="position:absolute;left:70.82px;top:587.30px" class="cls_006"><span class="cls_006">партнерам компанії. Вся звітність в компанії ведеться в електронному</span></div>
        <div style="position:absolute;left:70.82px;top:611.42px" class="cls_006"><span class="cls_006">вигляді.</span></div>
        <div style="position:absolute;left:70.82px;top:635.66px" class="cls_006"><span class="cls_006">Роутер використовується для забезпечення інтернет мережею</span></div>
        <div style="position:absolute;left:70.82px;top:659.78px" class="cls_006"><span class="cls_006">працівників.</span></div>
        <div style="position:absolute;left:70.82px;top:683.90px" class="cls_006"><span class="cls_006">Обігрівачі використовуються для комфортної роботи працівників в</span></div>
        <div style="position:absolute;left:70.82px;top:708.04px" class="cls_006"><span class="cls_006">холодну пору.</span></div>
        </div>
        <div style="position:absolute;left:50%;margin-left:-297px;top:5957px;width:595px;height:841px;border-style:outset;overflow:hidden">
        <div style="position:absolute;left:0px;top:0px">
        <img src="{% static 'app/226b986a-8e57-11ec-a980-0cc47a792c0a_id_226b986a-8e57-11ec-a980-0cc47a792c0a_files/background08.jpg' %}" width=595 height=841></div>
        <div style="position:absolute;left:70.82px;top:76.02px" class="cls_004"><span class="cls_004">1.6  Інформаційні Активи</span></div>
        <div style="position:absolute;left:242.81px;top:132.78px" class="cls_007"><span class="cls_007">Опис активу</span></div>
        <div style="position:absolute;left:94.10px;top:149.82px" class="cls_007"><span class="cls_007">Актив</span></div>
        <div style="position:absolute;left:171.38px;top:149.82px" class="cls_007"><span class="cls_007">Власник</span></div>
        <div style="position:absolute;left:262.97px;top:149.97px" class="cls_011"><span class="cls_011">Місце</span></div>
        <div style="position:absolute;left:333.55px;top:149.82px" class="cls_007"><span class="cls_007">Категорія</span></div>
        <div style="position:absolute;left:414.31px;top:149.82px" class="cls_007"><span class="cls_007">Вартість</span></div>
        <div style="position:absolute;left:491.62px;top:149.82px" class="cls_007"><span class="cls_007">Цінність</span></div>
        <div style="position:absolute;left:242.81px;top:167.25px" class="cls_011"><span class="cls_011">розташування</span></div>
        <div style="position:absolute;left:341.23px;top:166.38px" class="cls_007"><span class="cls_007">активу</span></div>
        <div style="position:absolute;left:425.11px;top:166.38px" class="cls_007"><span class="cls_007">ГРН</span></div>
        <div style="position:absolute;left:502.66px;top:166.38px" class="cls_007"><span class="cls_007">ГРН</span></div>
        <div style="position:absolute;left:86.06px;top:185.01px" class="cls_011"><span class="cls_011">Локальна</span></div>
        <div style="position:absolute;left:164.78px;top:185.01px" class="cls_011"><span class="cls_011">Системний</span></div>
        <div style="position:absolute;left:348.79px;top:184.86px" class="cls_007"><span class="cls_007">МО</span></div>
        <div style="position:absolute;left:422.71px;top:184.86px" class="cls_007"><span class="cls_007">1 000</span></div>
        <div style="position:absolute;left:500.38px;top:184.86px" class="cls_007"><span class="cls_007">2 000</span></div>
        <div style="position:absolute;left:91.34px;top:201.42px" class="cls_011"><span class="cls_011">мережа</span></div>
        <div style="position:absolute;left:157.82px;top:201.42px" class="cls_011"><span class="cls_011">адміністратор</span></div>
        <div style="position:absolute;left:258.65px;top:200.70px" class="cls_007"><span class="cls_007">Будівля</span></div>
        <div style="position:absolute;left:91.82px;top:218.46px" class="cls_007"><span class="cls_007">Сервер</span></div>
        <div style="position:absolute;left:164.30px;top:218.46px" class="cls_007"><span class="cls_007">Системний</span></div>
        <div style="position:absolute;left:253.97px;top:218.46px" class="cls_007"><span class="cls_007">Кабінет 1</span></div>
        <div style="position:absolute;left:350.71px;top:218.46px" class="cls_007"><span class="cls_007">КТ</span></div>
        <div style="position:absolute;left:419.71px;top:218.46px" class="cls_007"><span class="cls_007">20 000</span></div>
        <div style="position:absolute;left:495.82px;top:218.46px" class="cls_007"><span class="cls_007">100000</span></div>
        <div style="position:absolute;left:157.34px;top:235.05px" class="cls_007"><span class="cls_007">адміністратор</span></div>
        <div style="position:absolute;left:85.70px;top:252.24px" class="cls_011"><span class="cls_011">Договори</span></div>
        <div style="position:absolute;left:168.74px;top:252.09px" class="cls_011"><span class="cls_011">Директор</span></div>
        <div style="position:absolute;left:260.45px;top:252.09px" class="cls_011"><span class="cls_011">Сервер</span></div>
        <div style="position:absolute;left:350.71px;top:252.09px" class="cls_011"><span class="cls_011">ЕД</span></div>
        <div style="position:absolute;left:433.27px;top:252.09px" class="cls_011"><span class="cls_011">0</span></div>
        <div style="position:absolute;left:497.38px;top:252.09px" class="cls_007"><span class="cls_007">50 000</span></div>
        <div style="position:absolute;left:88.10px;top:268.65px" class="cls_011"><span class="cls_011">компанії</span></div>
        <div style="position:absolute;left:78.26px;top:285.84px" class="cls_011"><span class="cls_011">Персональні</span></div>
        <div style="position:absolute;left:168.74px;top:285.69px" class="cls_011"><span class="cls_011">Директор</span></div>
        <div style="position:absolute;left:260.45px;top:285.69px" class="cls_011"><span class="cls_011">Сервер</span></div>
        <div style="position:absolute;left:350.71px;top:285.84px" class="cls_011"><span class="cls_011">ЕД</span></div>
        <div style="position:absolute;left:433.27px;top:285.69px" class="cls_007"><span class="cls_007">0</span></div>
        <div style="position:absolute;left:497.38px;top:285.69px" class="cls_007"><span class="cls_007">20 000</span></div>
        <div style="position:absolute;left:77.78px;top:302.25px" class="cls_011"><span class="cls_011">дані клієнтів</span></div>
        <div style="position:absolute;left:87.98px;top:319.29px" class="cls_007"><span class="cls_007">Принтер</span></div>
        <div style="position:absolute;left:167.18px;top:319.29px" class="cls_007"><span class="cls_007">Бухгалтер</span></div>
        <div style="position:absolute;left:258.77px;top:319.44px" class="cls_011"><span class="cls_011">Кабінет</span></div>
        <div style="position:absolute;left:349.99px;top:319.29px" class="cls_007"><span class="cls_007">ДО</span></div>
        <div style="position:absolute;left:424.27px;top:319.29px" class="cls_007"><span class="cls_007">1500</span></div>
        <div style="position:absolute;left:501.82px;top:319.29px" class="cls_007"><span class="cls_007">1500</span></div>
        <div style="position:absolute;left:247.01px;top:336.00px" class="cls_011"><span class="cls_011">секретаря та</span></div>
        <div style="position:absolute;left:252.53px;top:352.41px" class="cls_011"><span class="cls_011">директора</span></div>
        <div style="position:absolute;left:78.98px;top:369.57px" class="cls_007"><span class="cls_007">Комп'ютери</span></div>
        <div style="position:absolute;left:168.50px;top:369.57px" class="cls_007"><span class="cls_007">Директор</span></div>
        <div style="position:absolute;left:255.53px;top:369.72px" class="cls_011"><span class="cls_011">Кабінети</span></div>
        <div style="position:absolute;left:350.71px;top:369.57px" class="cls_007"><span class="cls_007">КТ</span></div>
        <div style="position:absolute;left:416.71px;top:369.57px" class="cls_007"><span class="cls_007">100 000</span></div>
        <div style="position:absolute;left:494.38px;top:369.57px" class="cls_007"><span class="cls_007">200 000</span></div>
        <div style="position:absolute;left:78.74px;top:386.63px" class="cls_007"><span class="cls_007">Холодильна</span></div>
        <div style="position:absolute;left:168.50px;top:386.63px" class="cls_007"><span class="cls_007">Директор</span></div>
        <div style="position:absolute;left:258.41px;top:386.78px" class="cls_011"><span class="cls_011">Склад 2</span></div>
        <div style="position:absolute;left:349.99px;top:386.63px" class="cls_007"><span class="cls_007">ДО</span></div>
        <div style="position:absolute;left:96.14px;top:403.19px" class="cls_007"><span class="cls_007">шафа</span></div>
        <div style="position:absolute;left:96.38px;top:420.23px" class="cls_007"><span class="cls_007">ЕД- електронний локумент, КТ- комп’ютерна техніка, МО - мережне обладнання, ДО -</span></div>
        <div style="position:absolute;left:253.13px;top:436.79px" class="cls_007"><span class="cls_007">додаткове обладнання.</span></div>
        <div style="position:absolute;left:70.82px;top:502.79px" class="cls_004"><span class="cls_004">1.7  Персонал та його обов’язки</span></div>
        <div style="position:absolute;left:70.82px;top:530.27px" class="cls_008"><span class="cls_008">Директор - </span><span class="cls_012">Визначає, формулює, планує, здійснює і координує всі види</span></div>
        <div style="position:absolute;left:70.82px;top:554.42px" class="cls_012"><span class="cls_012">діяльності підприємства. Визначає напрями розвитку підприємства у</span></div>
        <div style="position:absolute;left:70.82px;top:578.54px" class="cls_012"><span class="cls_012">формуванні цінової, кредитно-банківської, податкової та страхової політики,</span></div>
        <div style="position:absolute;left:70.82px;top:602.66px" class="cls_012"><span class="cls_012">соціальної та зовнішньоекономічної діяльності.</span></div>
        <div style="position:absolute;left:70.82px;top:626.78px" class="cls_008"><span class="cls_008">Системний адміністратор</span><span class="cls_006"> </span><span class="cls_012">- створення і підтримка в актуальному стані сервер</span></div>
        <div style="position:absolute;left:70.82px;top:651.02px" class="cls_012"><span class="cls_012">компанії; підтримання інформаційної безпеки в організації; документування</span></div>
        <div style="position:absolute;left:70.82px;top:675.14px" class="cls_012"><span class="cls_012">своєї работи; усунення неполадок в комп'ютерній системі.</span></div>
        <div style="position:absolute;left:70.82px;top:699.26px" class="cls_008"><span class="cls_008">Менеджер - </span><span class="cls_006">займається пітриманням сайту в актуальному стані, заповненням</span></div>
        <div style="position:absolute;left:70.82px;top:723.40px" class="cls_006"><span class="cls_006">його наявним товаром; відповідає за поновленням нових медикаментів; обробка</span></div>
        <div style="position:absolute;left:70.82px;top:747.64px" class="cls_006"><span class="cls_006">онлайн замовлень</span><span class="cls_008">.</span></div>
        <div style="position:absolute;left:70.82px;top:771.76px" class="cls_008"><span class="cls_008">Працівник складу - </span><span class="cls_006">відповідає за прийом на склад лікарств; веде облік складу;</span></div>
        </div>
        <div style="position:absolute;left:50%;margin-left:-297px;top:6808px;width:595px;height:841px;border-style:outset;overflow:hidden">
        <div style="position:absolute;left:0px;top:0px">
        <img src="{% static 'app/226b986a-8e57-11ec-a980-0cc47a792c0a_id_226b986a-8e57-11ec-a980-0cc47a792c0a_files/background09.jpg' %}" width=595 height=841></div>
        <div style="position:absolute;left:70.82px;top:40.24px" class="cls_006"><span class="cls_006">відповідає за їхню цілісність; займається курєрською діяльністю.</span></div>
        <div style="position:absolute;left:70.82px;top:64.38px" class="cls_008"><span class="cls_008">Бухгалтер - </span><span class="cls_006">збирати та аналізувати фінансову інформацію для підготовки</span></div>
        <div style="position:absolute;left:70.82px;top:88.62px" class="cls_006"><span class="cls_006">звітів; аналізувати щоденні банківські операції та записи; готувати щомісячні</span></div>
        <div style="position:absolute;left:70.82px;top:112.74px" class="cls_006"><span class="cls_006">звіти; підтримувати довіру клієнтів та не поширювати конфіденційну</span></div>
        <div style="position:absolute;left:70.82px;top:134.82px" class="cls_006"><span class="cls_006">інформацію;</span></div>
        <div style="position:absolute;left:70.82px;top:169.02px" class="cls_008"><span class="cls_008">Адміністратор - </span><span class="cls_006">в його обов’язки входить консультування офлайн клієнтів та</span></div>
        <div style="position:absolute;left:70.82px;top:193.02px" class="cls_006"><span class="cls_006">виконувати , продаж товару.</span></div>
        </div>
        <div style="position:absolute;left:50%;margin-left:-297px;top:7659px;width:595px;height:841px;border-style:outset;overflow:hidden">
        <div style="position:absolute;left:0px;top:0px">
        <img src="{% static 'app/226b986a-8e57-11ec-a980-0cc47a792c0a_id_226b986a-8e57-11ec-a980-0cc47a792c0a_files/background10.jpg' %}" width=595 height=841></div>
        <div style="position:absolute;left:70.82px;top:40.48px" class="cls_004"><span class="cls_004">1.8  Робочий процес</span></div>
        <div style="position:absolute;left:70.82px;top:83.94px" class="cls_006"><span class="cls_006">Графік роботи :</span></div>
        <div style="position:absolute;left:70.82px;top:101.34px" class="cls_006"><span class="cls_006">Пн-Пт 9:00 - 18:00</span></div>
        <div style="position:absolute;left:70.82px;top:118.74px" class="cls_006"><span class="cls_006">Субота неділя вихідні</span></div>
        <div style="position:absolute;left:70.82px;top:139.98px" class="cls_006"><span class="cls_006">Приміщення відкриває директор.</span></div>
        <div style="position:absolute;left:70.82px;top:179.46px" class="cls_008"><span class="cls_008">Підписання контрактів на ліки та їх постачання</span></div>
        <div style="position:absolute;left:70.82px;top:196.62px" class="cls_006"><span class="cls_006">Відбуваються в кабінеті директора під наглядом бухгалтера. Який формулює</span></div>
        <div style="position:absolute;left:70.82px;top:214.02px" class="cls_006"><span class="cls_006">даний договір, який є вже попередньо узгоджений. Договір підписується</span></div>
        <div style="position:absolute;left:70.82px;top:231.33px" class="cls_006"><span class="cls_006">електроному варіанті, а при потрібні можливий фізичний.</span></div>
        <div style="position:absolute;left:70.82px;top:266.37px" class="cls_008"><span class="cls_008">Постачання товару</span></div>
        <div style="position:absolute;left:70.82px;top:283.53px" class="cls_006"><span class="cls_006">Поставляння товару проходить так: працівник складу розвантажує нову партію</span></div>
        <div style="position:absolute;left:70.82px;top:300.81px" class="cls_006"><span class="cls_006">лікарств і роставляє його на відповідні місця по складах. В цей час бухгалтер</span></div>
        <div style="position:absolute;left:70.82px;top:318.21px" class="cls_006"><span class="cls_006">звіряє накладні з доставленим товаром, і дивиться чи все в порядку. Після цього</span></div>
        <div style="position:absolute;left:70.82px;top:335.61px" class="cls_006"><span class="cls_006">продавець-консультант може розкласти потрібний товар на стелажі в</span></div>
        <div style="position:absolute;left:70.82px;top:353.01px" class="cls_006"><span class="cls_006">приймальній.</span></div>
        <div style="position:absolute;left:70.82px;top:387.95px" class="cls_008"><span class="cls_008">Онлайн продаж медикаментів</span></div>
        <div style="position:absolute;left:70.82px;top:405.11px" class="cls_006"><span class="cls_006">Відбувається через сайт компанії за який відповідає менеджер. На сайті</span></div>
        <div style="position:absolute;left:70.82px;top:422.51px" class="cls_006"><span class="cls_006">компанії видно всі наявні ліки та можливість їх купити онлайн або</span></div>
        <div style="position:absolute;left:70.82px;top:439.91px" class="cls_006"><span class="cls_006">забронювати. Після чого зв’яжеться менеджер для підтвердження замовлення.</span></div>
        <div style="position:absolute;left:70.82px;top:457.19px" class="cls_006"><span class="cls_006">При купівлі ондайн можна оплатити за допомогою інтернет оплати. Доставкою</span></div>
        <div style="position:absolute;left:70.82px;top:474.59px" class="cls_006"><span class="cls_006">займеться кур’єр або можна забрати в приймальній.</span></div>
        <div style="position:absolute;left:70.82px;top:509.63px" class="cls_008"><span class="cls_008">Продаж офлайн</span></div>
        <div style="position:absolute;left:70.82px;top:526.67px" class="cls_006"><span class="cls_006">Відбувається клієнтов в приймальній особисто за допомогою менеджера .</span></div>
        <div style="position:absolute;left:70.82px;top:544.10px" class="cls_006"><span class="cls_006">Також можна забрати заброньований товар або оплачений уже онлайн. Оплата</span></div>
        <div style="position:absolute;left:70.82px;top:557.54px" class="cls_006"><span class="cls_006">готівкою або через термінал.</span></div>
        </div>
        <div style="position:absolute;left:50%;margin-left:-297px;top:8510px;width:595px;height:841px;border-style:outset;overflow:hidden">
        <div style="position:absolute;left:0px;top:0px">
        <img src="{% static 'app/226b986a-8e57-11ec-a980-0cc47a792c0a_id_226b986a-8e57-11ec-a980-0cc47a792c0a_files/background11.jpg' %}" width=595 height=841></div>
        <div style="position:absolute;left:70.82px;top:40.60px" class="cls_004"><span class="cls_004">1.9  Фінансово-господарська діяльність</span></div>
        <div style="position:absolute;left:70.82px;top:92.22px" class="cls_006"><span class="cls_006">Аналіз результатів фінансово-господарської діяльності підприємства.</span></div>
        <div style="position:absolute;left:76.58px;top:125.46px" class="cls_003"><span class="cls_003">Дохід від продажу онлайн</span></div>
        <div style="position:absolute;left:317.21px;top:125.22px" class="cls_007"><span class="cls_007">1 800 000 грн.</span></div>
        <div style="position:absolute;left:76.58px;top:146.58px" class="cls_003"><span class="cls_003">Дохід від продажу на місці</span></div>
        <div style="position:absolute;left:317.21px;top:146.34px" class="cls_007"><span class="cls_007">950 000 грн.</span></div>
        <div style="position:absolute;left:76.58px;top:167.82px" class="cls_003"><span class="cls_003">Загальний дохід</span></div>
        <div style="position:absolute;left:317.21px;top:167.58px" class="cls_007"><span class="cls_007">2 750 000 грн.</span></div>
        <div style="position:absolute;left:76.58px;top:189.06px" class="cls_003"><span class="cls_003">Податки</span></div>
        <div style="position:absolute;left:317.21px;top:188.82px" class="cls_007"><span class="cls_007">500 000 грн</span></div>
        <div style="position:absolute;left:76.58px;top:210.18px" class="cls_003"><span class="cls_003">Заробітна плата</span></div>
        <div style="position:absolute;left:317.21px;top:209.94px" class="cls_007"><span class="cls_007">1 400 000 грн</span></div>
        <div style="position:absolute;left:76.58px;top:231.45px" class="cls_003"><span class="cls_003">Побутові витрати</span></div>
        <div style="position:absolute;left:317.21px;top:231.21px" class="cls_007"><span class="cls_007">150 000 грн.</span></div>
        <div style="position:absolute;left:76.58px;top:252.69px" class="cls_003"><span class="cls_003">Чистий дохід</span></div>
        <div style="position:absolute;left:317.21px;top:252.45px" class="cls_007"><span class="cls_007">700 000 грн</span></div>
        <div style="position:absolute;left:88.82px;top:294.33px" class="cls_007"><span class="cls_007">Таблиця 1.9</span></div>
        <div style="position:absolute;left:70.82px;top:322.77px" class="cls_006"><span class="cls_006">Аналізуючи  цю  таблицю  можна  сказати,  що  основний  дохід  приносить</span></div>
        <div style="position:absolute;left:70.82px;top:346.77px" class="cls_006"><span class="cls_006">приблизно 2 750 000   грн на рік. Від продажу ліків та послуг компанії.</span></div>
        <div style="position:absolute;left:70.82px;top:379.05px" class="cls_006"><span class="cls_006">Найбільшу  частину  розходів  компанії  займає  оплата  праці  співробітників</span></div>
        <div style="position:absolute;left:70.82px;top:403.19px" class="cls_006"><span class="cls_006">компанії. Решта розходів не є суттєвими та в загальному складають не більше</span></div>
        <div style="position:absolute;left:70.82px;top:427.31px" class="cls_006"><span class="cls_006">15% від загальних витрат компанії (оренда, електроенергія, інтернет, заміна</span></div>
        <div style="position:absolute;left:70.82px;top:451.43px" class="cls_006"><span class="cls_006">обладнання, реклама, інші витрати.)</span></div>
        <div style="position:absolute;left:70.82px;top:483.71px" class="cls_006"><span class="cls_006">Після оподаткування компанія отримує чистий прибуток у розмірі 700 000 грн,</span></div>
        <div style="position:absolute;left:70.82px;top:507.71px" class="cls_006"><span class="cls_006">що є доволі багато для даної галузі, що  говорить про успішність її діяльності</span><span class="cls_007">.</span></div>
        </div>

    </body>
</html>

